<%

    var scoreFields = "MathPercentMetStandardIncludingPrevPass ELAPercentMetStandardIncludingPrevPass".split(" ");

  var whitelist = ["School", "District", "County", "GradeLevel"];

  var clean = function(r) {
    var out = {};
    whitelist.forEach(function(key) {
      out[key] = r[key];
    });
    return out;
  }

  var groupedResults = {};

  var districtData = csv.scores_by_district_new;
  var schoolData = csv.scores_by_school_new;
  var districtDataOld = csv.scores_by_district;
  var schoolDataOld = csv.scores_by_school;

  districtData.forEach(function(row) {
    if (row.testAdministration !== "SBA") return;
    if (row.StudentGroup !== "All") return;
    if (!groupedResults[row.District]) groupedResults[row.District] = {
      county: row.County,
      district: row.District
    };
    var group = groupedResults[row.District];
    if (!row["countMetStandardIncludingPP"]) return;
    if (!group.grades) group.grades = {};
    if (!group.grades[row.GradeLevel]) group.grades[row.GradeLevel] = clean(row);
    if (row.Subject == "ELA") {
      group.grades[row.GradeLevel].ela = row.PercentMetStandardIncludingPP;
    } else if (row.Subject == "MATH") {
      group.grades[row.GradeLevel].math = row.PercentMetStandardIncludingPP;
    }
  });

  districtDataOld.forEach(function(row) {
    if (!groupedResults[row.District]) return;
    var group = groupedResults[row.District];
    var hasResult = false;
    scoreFields.forEach(function(f) { hasResult = hasResult || !!row[f] });
    if (!hasResult) return;
    if (!group.grades) return;
    if (!group.grades[row.GradeTested]) return;
    var grade = group.grades[row.GradeTested];
    grade.elaDiff = (grade.ela - row.ELAPercentMetStandardIncludingPrevPass);
    if (grade.elaDiff > 0) {
      grade.elaDirection = "+";
    } else if (grade.elaDiff < 0) {
      grade.elaDirection = "-";
      grade.elaDiff *= -1;
    } else {
      grade.elaDirection = "";
    }
    grade.mathDiff = (grade.math - row.MathPercentMetStandardIncludingPrevPass);
    if (grade.mathDiff > 0) {
      grade.mathDirection = "+";
    } else if (grade.mathDiff < 0) {
      grade.mathDirection = "-";
      grade.mathDiff *= -1;
    } else {
      grade.mathDirection = "";
    }
  });

  var groupedSchoolResults = {};

  schoolData.forEach(function(row) {
    if (row.testAdministration !== "SBA") return;
    if (row.StudentGroup !== "All") return;
    if(!groupedSchoolResults[row.School + row.District]) groupedSchoolResults[row.School + row.District] = {
      school: row.School,
      district: row.District
    };
    var group = groupedSchoolResults[row.School + row.District];
    if (!row["countMetStandardIncludingPP"]) return;
    if (!group.grades) group.grades = {};
    if (!group.grades[row.GradeLevel]) group.grades[row.GradeLevel] = clean(row);
    if (row.Subject == "ELA") {
      group.grades[row.GradeLevel].ela = row.PercentMetStandardIncludingPP;
    } else if (row.Subject == "MATH") {
      group.grades[row.GradeLevel].math = row.PercentMetStandardIncludingPP;
    }
  });

  schoolDataOld.forEach(function(row) {
    if (!groupedSchoolResults[row.School + row.District]) return;
    var group = groupedSchoolResults[row.School + row.District];
    var hasResult = false;
    scoreFields.forEach(function(f) { hasResult = hasResult || !!row[f] });
    if (!hasResult) return;
    if (!group.grades) return;
    if (!group.grades[row.GradeTested]) return;
    var grade = group.grades[row.GradeTested];
    grade.elaDiff = (grade.ela - row.ELAPercentMetStandardIncludingPrevPass);
    if (grade.elaDiff > 0) {
      grade.elaDirection = "+";
    } else if (grade.elaDiff < 0) {
      grade.elaDirection = "-";
      grade.elaDiff *= -1;
    } else {
      grade.elaDirection = "";
    }

    grade.mathDiff = (grade.math - row.MathPercentMetStandardIncludingPrevPass);
    if (grade.mathDiff > 0) {
      grade.mathDirection = "+";
    } else if (grade.mathDiff < 0) {
      grade.mathDirection = "-";
      grade.mathDiff *= -1;
    } else {
      grade.mathDirection = "";
    }
  });

  var groupedSchools = Object.keys(groupedSchoolResults).map(function(k) { 
    return groupedSchoolResults[k]
  });

  groupedSchools.forEach(function(school) {
    var district = groupedResults[school.district];
    if (!district) return;
    if (!district.schools) district.schools = {};
    district.schools[school.school] = school;
  });


  var grouped = Object.keys(groupedResults).map(function(k) { return groupedResults[k] });
%>

<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://use.fontawesome.com/bd870dfa49.js"></script>
    <%= t.include("partials/_head.html") %>
  </head>
  <body ng-app="common-core-search">

    <responsive-child>

      <div ng-controller="commonCoreController" class="outermost" ng-cloak>

        <div class="search-container">
          <span class="view">View 2016 test results for:</span>
          <type-select options="districts" model="district"></type-select>
          <div ng-if="school">
            <div class="no-results" ng-if="!school.grades">
              <i class="alarm fa fa-exclamation-triangle"></i> No reported results.
            </div>

            <div class="showing" ng-class="{ visible: district.grades }">
              <span class="label">Showing:</span>
              <select name="select" ng-model="$parent.schoolName">
                <option value="">District Average</option> 
                <option value="{{s.school}}" ng-repeat="s in district.schools">{{s.school}}</option> 
              </select>
            </div>

            <table ng-if="school.grades">

              <tr ng-if="school.grades" class="table-label"><td colspan="5">Percentage of students proficient:</td></tr>

              <tr class="header">
                <td class="grade">Grade</td>
                <td class="math score"><div><i class="fa fa-calculator"></i></div>Math</td>
                <td class="math average"><div></div>Change from 2015</td>
                <td class="reading score"><div><i class="fa fa-pencil"></i></div>ELA</td>
                <td class="reading average"><div></div>Change from 2015</td>
              </tr>

              <tr ng-repeat="row in school.grades">

                <td class="grade">{{row.GradeLevel}}</td>

                <td class="math">
                  <span ng-if="row.math">
                    {{row.math | number : 1}}%
                  </span>
                  <span ng-if="!row.math">
                    -
                  </span>
                  
                </td>

                <td class="math average">
                  <span ng-if="row.mathDiff">
                    {{row.mathDirection}}{{row.mathDiff | number : 1}}
                  </span>
                  <span ng-if="!row.mathDiff">
                    -
                  </span>
                </td>

                <td class="reading">
                  <span ng-if="row.ela">
                    {{row.ela | number : 1}}%
                  </span>
                  <span ng-if="!row.ela">
                    -
                  </span>
                  
                </td>

                <td class="reading average">
                  <span ng-if="row.elaDiff">
                    {{row.elaDirection}}{{row.elaDiff | number : 1}}
                  </span>
                  <span ng-if="!row.elaDiff">
                    -
                  </span>
                </td>

              </tr>

            </table>

          </div>
        </div>

        <div class="bottom">
          <div class="note">
            Note: Students who opted out of the test were given scores of zero, and are counted in these numbers as not passing. For student privacy reasons, results aren’t available when only a small number of students took the test or when fewer than 10 passed or failed.
          </div>
          <div class="source"><em>
            Source: Office of Superintendent of Public Instruction</em>
          </div>
          <div class="credit">AUDREY CARLSEN / THE SEATTLE TIMES</div>
        </div>

      </div>

    </responsive-child>

    <script>
      var districtData = <%= JSON.stringify(grouped) %>;
    </script>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
